<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetRifornimentiDaFare</servlet-name>
        <servlet-class>org.javasoft.ciclope.servlets.GetRifornimentiDaFare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaterialiMagazzino</servlet-name>
        <servlet-class>org.javasoft.ciclope.servlets.GetMaterialiMagazzino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantitaMateriale</servlet-name>
        <servlet-class>org.javasoft.ciclope.servlets.UpdateQuantitaMateriale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRifornimentiDaFare</servlet-name>
        <url-pattern>/GetRifornimentiDaFare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaterialiMagazzino</servlet-name>
        <url-pattern>/GetMaterialiMagazzino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantitaMateriale</servlet-name>
        <url-pattern>/UpdateQuantitaMateriale</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
